.installed.cfg
.mr.developer.cfg
bin/
build-stamp
buildout.cfg
debian/clpsbw-website-website/
debian/clpsbw-website.debhelper.log
debian/clpsbw-website.substvars
debian/clpsbw-website/
debian/files
devel/
develop-eggs/
include/
lib/
local/
parts/
tmp/
var/
