/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


STYLE STATIC DIAZO

**/

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:#555;
}

a{
text-decoration:none; color:#FFF;
}

a:hover{
color:#d7d7d7;
}

.break-float{
clear:both;
}


#main a:link, dl.portlet a:link{
border-bottom:0.1em solid #CCCCCC;
color:#205C90;
}

#wrapper{
background-color:#FFF;
margin-top:-10px;
width:1100px;
min-height:700px;
margin-left:auto;
margin-right:auto;
box-shadow:5px 5px 5px rgba(20,20,20, 0.5);
border-radius:0 0 35px 35px ;
border:5px solid #008b9d;
}
/*========================HEADER========================*/
#header{
position:relative;
height:240px;
background-image:url(/plone/++theme++clpsbw.skin/images/head.jpg);
background-position:center top;
background-repeat:no-repeat;
text-align:right;
}

#logo{
position:relative;
top:50px;
left:18px;
width:124px;
height:124px;
box-shadow:3px 3px 3px #000;
border-radius:15px;
}

#site-action{
position:absolute;
top:10px;
left:30px;
width:200px;
}

#site-action a{
color:#ddd !important;
font-size:0.7em;
font-weight:normal;
}

#site-action a:hover{
color:#fff !important;
text-decoration:underline;
}

#search-plone{
position:absolute;
top:15px;
left:670px;
width:400px;
height:60px;
border:1px solid #555;
border-radius:8px;
background-color:rgba(10,10,10,0.5);
padding:4px;
}

#username{
position:absolute;
right:10px;
top:210px;
width:400px;
font-size:0.6em;
}

#accueil-btn{
position:relative;
top:96px;
left:16px;
width:124px;
height:18px;
background-color:#9a0546;
border-width:2px 2px 0px 2px;
border-style:solid;
border-color:#20a3af;

border-radius:15px 15px 0px 0px;
text-align:center;
}

#accueil-btn a{
display:block;
width:124px;
height:25px;
color:#fff !important;
font-size:0.8em;
}

/*** MENU SUPERIEUR ***/
#menu-sup{
position:relative;
left:625px;
top:80px;
z-index:10;
height:22px;
width:456px;
text-align:center;
margin-bottom:0px;
box-shadow:3px 3px 3px rgba(50,50,50,0.5);
border-radius:8px;
}

#btn-qui-sommes-nous,
#btn-publication,
#btn-contact{
height:20px;
width:150px;
float:left;
border:solid 1px #FFF;
font-size:0.9em;
}

#btn-qui-sommes-nous{
background-color:#00728a;
}

#btn-publication{
background-color:#afa61d;
}

#btn-contact{
background-color:#9a0546;
}

#btn-qui-sommes-nous,
#btn-publication,
#btn-contact a{
cursor:pointer;
display:inline-block;
text-align:center;
font-size:8pt;
line-height:20px;
height:20px;
width:150px;
color:#fff !important;
transition:background 0.3s;
transition:color 0.3s;
}

/*
#btn-qui-sommes-nous a:hover,
#btn-publication a:hover,
#btn-contact a:hover{
transition:background 0.5s;
transition:color 0.5s;
color:#000 !important;
}
*/
#menu-sup a{
display:block;  
color:#fff;  
text-decoration:none;  
}

#menu-sup > li li{
background:transparent none;
}  

#menu-sup > li li a{
display:block;
margin:5px auto;
padding:5px 0px;
font-size:7pt;
color:#ddd !important;
line-height:normal;
border-radius:4px;
width:95%;
}  

#menu-sup > li li a:hover{
background:rgba(220,220,220,0.5);
color:#fff !important;
transition:background 0.5s;
}  

#menu-sup > li:first-child{  
border-radius:8px 0 0 8px;
}  

#menu-sup > li:last-child{  
border-radius:0 8px 8px 0;
}  

#menu-sup ul{
max-height:0em;  
margin:0;
padding:0;  
overflow:hidden;  
box-shadow:3px 3px 3px rgba(50,50,50,0.5);
transition:1s max-height 0.3s; 
}

#menu-sup #btn-qui-sommes-nous ul {
background: -moz-linear-gradient(top,  rgba(0,114,138,0.9) 0%, rgba(0,87,110,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,114,138,0.9)), color-stop(100%,rgba(0,87,110,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,114,138,0.9) 0%,rgba(0,87,110,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,114,138,0.9) 0%,rgba(0,87,110,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,114,138,0.9) 0%,rgba(0,87,110,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,114,138,0.9) 0%,rgba(0,87,110,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e600728a', endColorstr='#00576e',GradientType=0 ); /* IE6-9 */
border-radius:5px 0px 8px 8px;
}

#menu-sup #btn-publication ul {
background: -moz-linear-gradient(top,  rgba(175,166,29,0.9) 0%, rgba(152,144,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(175,166,29,0.9)), color-stop(100%,rgba(152,144,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(175,166,29,0.9) 0%,rgba(152,144,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(175,166,29,0.9) 0%,rgba(152,144,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(175,166,29,0.9) 0%,rgba(152,144,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(175,166,29,0.9) 0%,rgba(152,144,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6afa61d', endColorstr='#989000',GradientType=0 ); /* IE6-9 */
border-radius:0px 0px 8px 8px;
}


/* ici on change la valeur de max-height au :hover */  
#menu-sup > li:hover ul{  
max-height:15em;  
}  


/*** BOUTON ACCUEIL ***/
#accueil{
background-color:#f0f4f4;
height:550px;
width:130px;
border:3px solid #008b9d;
margin-left:20px;
border-radius:20px;
box-shadow:5px 5px 5px #888;
}

#titreaccueil{
background-color:#9c1746;
height:23px;
width:100%;
border-radius:15px 15px 0 0;
border-bottom:solid 2px #008b9d;
text-align:center;
color:#FFF;
padding-top:3px;
}




/*** CONTENT ***/
#main{
min-height:600px;
clear: both;
font-size: 80%;
line-height: 1.5em;
margin: 1em 3px 4em 3px;
}

/*** COLONNE GAUCHE ***/
#portal-column-one{
border-width:0px 2px 2px 2px; 
border-style:solid;
border-color:#20a3af;
border-radius:0px 0px 8px 8px;
width:124px;
padding-top:40px;
margin-left:-1080px;
}

div.position-0{
margin-left:-1040px;
margin-top:-13px;
}

#left-column{
position:relative;
float:left;
width:250px;
margin-top:-30px;
}

.icone-experience{
display:inline-block;
width:6px;
height:6px;
border-radius:6px;
border-style:1px solid #ddd;
background: rgb(254,204,177); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

}


/*** COLUMN CONTENT ***/
#main-column{} 
#main-content{}
div#portal-column-content{
width:715px;
margin-left:-850px;
}

div#portal-column-content.cell div div#main{
border:1px solid #008b9d;
border-radius:20px;
padding:1em;
}

div#portal-column-content.cell div div#main h1{
color:#008b9d;
border-bottom:1px solid rgba(0,139,157,0.3);
}

#blocrightcontent img{
border-radius:20px;
padding:5px;
margin-left:30px;
margin-top:5px;
border:2px solid #008b9d;    
}

#titrecontent{
background-color:#a5a013;
height:40px;
width:100%;
border-radius:15px 15px 0 0;
border-bottom:solid 2px #008b9d;
}

.titrecontent{
padding:8px; 
padding-left:30px;
color:#008b9d;
font-size:20px;  
}

#footercontent{
position:absolute;
bottom:0;
width:430px;
height:20px;
z-index:1;
margin-left:120px;
}


/*** COLONNE DROITE ***/
#portal-column-two{
width:50px;
padding-top:40px;
margin-left:-50px;
}



/*** FOOTER ***/
#footer{
background-color:#008b9d;
height:120px;
width:100%;
padding-top:1px;
border-radius:0 0 30px 30px ;
}
#newsletter{
margin-left:auto;
margin-right:auto;
margin:0 auto;
margin-top:24px;
float:center;
text-align:center;
color:#FFF;
border:2px solid #FFF;
border-radius:20px;
width:200px;
padding:20px;
}

.button{
font-size:10px;
color:#666;
font-weight:bold;
text-decoration:none;
line-height:40px;
padding:12px;
margin:0 5px 5px 0;
text-shadow:0 1px 0 #fff;
border:solid 1px #dcdcdc;
border-radius:13px;
box-shadow:0 1px 1px rgba(255, 255, 255, 0.95) inset;
background:#F3F3F3; /* Old browsers */ }

.button:hover{
color:#7AC4D1;
}


