/**
CLPS-BW 2.0
AOUT 2013

Mauve #9a0546
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d

**/

body{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:#555;
}

a{
text-decoration:none; color:#FFF;
}

a:hover{
color:#d7d7d7;
}

#content a:link, dl.portlet a:link {
border-bottom: 0.1em solid #CCCCCC;
color: #205C90;
}

#wrapper{
background-color:#FFF;
margin-top:-10px;
width:1100px;
min-height:700px;
margin-left: auto;
margin-right: auto;
box-shadow: 5px 5px 5px rgba(20,20,20, 0.5);
border-radius:0 0 35px 35px ;
border:5px solid #008b9d;
}
/*========================HEADER========================*/
#header{
position:relative;
height:240px;
background-image:url(/plone/++theme++clpsbw.skin/images/head.jpg);
background-position:center top;
background-repeat:no-repeat;
text-align: right;
}

#logo{
position:relative;
top:50px;
left:30px;
width:124px;
height:124px;
box-shadow:3px 3px 3px #000;
border-radius:15px;
}

#accueil-btn{
position:relative;
top:96px;
left:57px;
width:124px;
height:18px;
background-color:#9a0546;
border-width:2px 2px 0px 2px;
border-style:solid;
border-color:#20a3af;

border-radius: 15px 15px 0px 0px;
text-align:center;
}

#accueil-btn a{
display:block;
width:124px;
height:25px;
color:#fff !important;
font-size:0.8em;
}

/*========================MENU dans HEADER========================*/
#menuhead{
position:absolute;
right:0;
bottom:0;
height:30px;
width:400px;
font-size:14px;
color:#FFF;
text-align:center;
margin-bottom:-20px;

}
#menuhead_1{
height:20px;
width:150px;
float:left;
border:solid 2px #FFF;
background-color:#00728e;
box-shadow: 3px 3px 3px #000;
}
#menuhead_2{
height:20px;
width:130px;
float:left;
border:solid 2px #FFF;
background-color:#b0a500;
box-shadow: 3px 3px 3px #000;
}
#menuhead_3{
height:20px;
width:100px;
float:left;
border:solid 2px #FFF;
background-color:#9c1746;
box-shadow: 3px 3px 3px #000;
}


/*========================content========================*/
#content{
min-height:600px;
}

/*========================MENU========================*/

#accueil{
background-color:#f0f4f4;
height:550px;
width:130px;
border:3px solid #008b9d;
margin-left:20px;
border-radius: 20px;
box-shadow: 5px 5px 5px #888;
}

#titreaccueil{
background-color:#9c1746;
height:23px;
width:100%;
border-radius: 15px 15px 0 0;
border-bottom:solid 2px #008b9d;
text-align:center;
color:#FFF;
padding-top:3px;
}




/*** COLONNE GAUCHE ***/
#portal-column-one{
border-width:0px 2px 2px 2px; 
border-style:solid;
border-color:#20a3af;
border-radius:0px 0px 8px 8px;
width:124px;
padding-top:40px;
}

div.position-0 {
margin-left:-1040px;
margin-top:-13px;
}

#left-column{
position:relative;
float:left;
width:250px;
margin-top:-30px;
}



/*** PORLET NAVIGATION ***/
.portletNavigationTree{
width:200px; 
list-style-type : none;
}

.portletNavigationTree .navTree li a {
display: block ;
background: #FFF ;
color: #008b9d ;
font-size:12px;
line-height: 1em ;
text-align: center ;
padding-bottom:3px;
text-decoration: none ;
padding: 4px 0 ;
margin-bottom:4px;
border:solid 2px #008b9d;
box-shadow: 2px 2px 2px #888;
border-radius: 10px; 
}

.portletNavigationTree .navTree li a:hover,
.portletNavigationTree .navTree li a:focus,
.portletNavigationTree .navTree li a:active {
background: #FFF ;
text-decoration: underline ;
background: #008b9d ;
color:#FFF;
}


/*** PORTLET COLONNE GAUCHE ***/

div.portlet-left-column{
position:relative;
left:10px;
width:200px;
margin-bottom:15px;
}

div.portlet-left-column dt.portletHeaderDB{
margin-bottom:8px;
border:1px solid #9a0546;
border-radius:4px;
background-color:#afa61d;
color:#00728a;
font-size:1em;
padding-left:10px;
}

div.portlet-left-column dt.portletPresentationDB{
background-color:#fff;
border:1px solid #00728a;
border-radius:6px;
padding-left:10px;
margin:4px 0px;
}

div.portlet-left-column dt.portletPresentationDB a{
font-weight:normal;
font-size:0.8em;
border-bottom:none !important;
}

#puzzle_puce{
position:absolute;
margin-left:-40px;
margin-top:-5px;
}


#portlet-db,
#portlet-db-auteur,
#portlet-gestion-db{
border-radius:10px 0px 0px 10px;
width:200px;
min-height:100px;
margin:2em 10px;
}

.portletHeaderDB{
border-radius:10px 0px 0px 0px;
line-height:30px;
color:#fff;
font-variant:small-caps;
font-size:1.1em;
font-weight:bold;
padding-left:15px;
border-bottom:1px solid #e9953a;
}

/*** PORLET DB AUTEUR ***/
#portlet-db-auteur .portletHeaderDB{
background-color:#ff76f0;
border:1px solid #8e0045;   
}

#portlet-db-auteur .portletItemDB{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffe4f8;
}

#portlet-db-auteur .portletFooterDB {
background-color:#dcbcd2;
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
height:15px;
}

#portlet-db-auteur .portletTitreDb{
color:#8e0045;
text-shadow:1px 1px 1px rgba(255,255,255, 0.5);
}

#portlet-db-auteur .portletItemDB{
padding:2px 0px 0px 20px;
}

#portlet-db-auteur a:link, 
#portlet-db-auteur dl.portlet a:link {
border-bottom:none;
color:#205C90;
}

#portlet-db-auteur a:hover, 
#portlet-db-auteur dl.portlet a:hover {
color:#aa0059 !important;
}

#portlet-db-auteur p{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffefdd;
}



/*** PORTLET GESTION DB ***/
#portlet-gestion-db a:link, 
#portlet-gestion-db dl.portlet a:link {
border-bottom:none;
color:#205C90;
}

#portlet-gestion-db a:hover, 
#portlet-gestion-db dl.portlet a:hover {
color:#aa0059 !important;
}

#portlet-gestion-db .portletHeaderDB{
background-color:#faa448;
border:1px solid #e9953a;
}

#portlet-gestion-db .portletItemDB{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffefdd;
padding:2px 0px 0px 0px;
}

#portlet-gestion-db .portletTitreDb{
color:#903a00;
font-size:0.9em;
text-shadow:1px 1px 1px rgba(255,255,255, 0.5);
}

#portlet-gestion-db .rubriqueDB{
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,205,156,0.5) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,205,156,0.5)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80f1cd9c',GradientType=0 );
width:90%;
box-shadow: -1px -1px 1px rgba(139,29,0, 0.3),
            1px 1px 1px rgba(255, 255, 255, 0.3);
border-radius:12px;
padding:5px;
margin:auto;
margin-top:8px;
}

#portlet-gestion-db .totalDB{
height:20px;
background-image:url(images/puce_total.png);
background-repeat:no-repeat;
background-position:left 0px;
padding-left:17px;
margin-top:5px;
margin-left:25px;
}

#portlet-gestion-db .portletFooterDB{
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
background-color:#f0e2cf;
height:15px;
}

/*** PORTLET PRESENTATION DB ***/
.portletPresentationDB ul{
margin:0px;
}

.portletPresentationDB li{
display:block;
margin-left:20px;
}



.separation{
width:180px;
margin-left:-13px;
margin-top:5px;
border-bottom:1px dotted #ccc;
}

.portletItemDB a{
padding-left:20px;
font-size:0.8em;
}

.portletItemDB a:hover{
color:#41cff2;
}

.menu-titre{
text-transform:capitalize;
margin-top:10px;
font-size:0.9em;
}

.small-comment{
font-size:0.7em;
color:#aaa;
padding-left:2em;
}







/*** MAIN COLUMN ***/
#main-column{ 
position:relative; 
float:right;
width:750px;
min-height:500px;
margin-top:30px;
margin-right:50px;
border:3px solid #008b9d;
border-radius: 20px;
box-shadow: 5px 5px 5px #888;    
} 

#main-content{
width:480px;
}

#blocrightcontent img{
border-radius: 20px;
padding:5px;
margin-left:30px;
margin-top:5px;
border:2px solid #008b9d;    
}

#titrecontent{
background-color:#a5a013;
height:40px;
width:100%;
border-radius: 15px 15px 0 0;
border-bottom:solid 2px #008b9d;

}

.titrecontent{
padding:8px; 
padding-left:30px;
color:#008b9d;
font-size:20px;  
}

#footercontent{
position:absolute;
bottom:0;
width:430px;
height:20px;
z-index:1;
margin-left:120px;
}

#fc1{   
height:40px;
background:#b0a500 url(images/projetpartage.png) center top no-repeat;
width:130px;
float:left;
margin-right:10px;
border-radius: 15px 15px;
border:solid 2px #9b3541;
box-shadow: 3px 3px 3px #888;    
}
#fc2{  
height:40px;
background:#b0a500 url(images/puzzle.png) center top no-repeat;
width:130px;
float:left;
margin-right:10px;
border-radius: 15px 15px;
border:solid 2px #9b3541;
box-shadow: 3px 3px 3px #888;    
}
#fc2 p{
text-align:center;
line-height: 1.0;
color:#008b9d;
margin-top:4px;  
}
#fc3{
height:40px;
background-color:#fff;
width:130px;
float:left;
border-radius: 15px 15px;
border:solid 2px #9b3541;
box-shadow: 3px 3px 3px #888;    
}
#fc3 p{
text-align:center;
line-height: 1.0;
color:#008b9d;
margin-top:4px;
}

#logohead:hover, #fc1:hover, #fc2:hover, #fc3:hover{  
box-shadow: 0px 0px 0px #888;    
}



/*** AGENDA ***/
#agenda{
position:absolute;
right:0;
top:0;
margin-top:8px;
margin-right:-40px;
background-color:#fff;
height:200px;
width:150px;
border-radius: 20px 20px;
border:solid 2px #008b9d;
box-shadow: 5px 5px 5px #888;    
}

#titreagenda{
background-color:#9c1746;
height:30px;
width:100%;
border-radius: 15px 15px 0 0;
border-bottom:solid 2px #008b9d;
}

.titreagenda{
padding-top:4px; 
text-align:center;
color:#FFF;
font-size:14px;  
}

/*** FOOTER ***/
#footer{
background-color:#008b9d;
height:120px;
width:100%;
padding-top:1px;
border-radius:0 0 30px 30px ;
}
#newsletter{
margin-left: auto;
margin-right: auto;
margin:0 auto;
margin-top:24px;
float:center;
text-align:center;
color:#FFF;
border:2px solid #FFF;
border-radius: 20px;
width:200px;
padding:20px;
}

.button {  font-size:10px;  color: #666; font-weight: bold; text-decoration: none; line-height: 40px; padding: 12px; margin: 0 5px 5px 0; text-shadow: 0 1px 0 #fff; border: solid 1px #dcdcdc; -webkit-border-radius: 3px; -moz-border-radius: 13px; -o-border-radius: 13px; -ms-border-radius: 13px; -khtml-border-radius: 13px; border-radius: 13px; -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.95) inset; -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.95) inset; box-shadow: 0 1px 1px rgba(255, 255, 255, 0.95) inset; background: #F3F3F3; /* Old browsers */ }
.button:hover { color: #7AC4D1;}


