/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546 
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


STYLE TEMPLATE PLONE

**/

/*** CONTENT PLONE ***/

#content{
color:#555 !important;
}

#content h1,
#content h2,
#content h3 {
margin-top: 0.5em;
color:#00728a !important;
}

#content div.documentByLine {
color: #666666;
display: block;
font-size: 85%;
margin-bottom: 10px;
}


/*** EDIT BARRE ***/
#edit-bar {
border: 0px solid #75AD0A;
font-size: 80%;
margin-bottom: 1em;
min-height: 2em;
padding-top: 0.05em;
width: 660px;
height:30px;
background: rgb(201,222,150); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
/* fond des onglet edit-bar*/
#content-views {
background-color:transparent;
float: left;
}
/* fond onglets second edit bar */
#contentActionMenus {
border-radius: 0 0.5em 0.5em 0.5em;
float: right;
margin: 0;
padding: 0.1em 0.24em 0 0;
position: relative;
right:0px;
top:0px;
background:#8AB66B;
height:25px;
}

#contentActionMenus dl.actionMenu a, #contentActionMenus dl.actionMenu.activated dd {
background-color:transparent;
color: #FFFFFF;
z-index: 5;
background:#8AB66B;
}

.grasbrun{
font-weight:bold;
color:#b93f00;
}

.grasorange{
font-weight:bold;
color:#ff6f00;
}

.grasrouge{
font-weight:bold;
color:#ff0000;
}

.grasvert{
font-weight:bold;
color:#00aa00;
}

.gras{
font-weight:bold;
}

.vert-actif{
color:#00aa00;
font-size:0.8em;
}

.rouge-non-actif{
color:#ff0000;
font-size:0.8em;
}

.merci-text{
margin-top:2em;
font-size : 2em;
text-align:center;
}





#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;
margin-bottom:10px;
padding-left:10px;
}




/*** LIEN GESTION DES PORTLETS ***/
#portal-column-two div.managePortletsLink{
display:none;
}



/*** PRESENTATION BASE DE DONNEE ***/
#experience-template{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position: center bottom;
}

#titre-presentation-db,
#zone-titre-moteur-recherche{
width:650px;
height:80px;
margin-top:15px;
border:2px solid #afa61d;
border-radius:12px;
background:#9a0546 url(puzzle_titre_db.png) no-repeat 35px 13px;
}

#titre-presentation-db h1,
#zone-titre-moteur-recherche h1{
width:450px;
margin:10px auto 0px auto;
color:#fff !important;
font-size:2em;
text-align:center;
letter-spacing:2px;
}

#moteur-presentation-db{
position:absolute;
top:148px;
padding:55px 0px 0px 8px;
font-size:1.6em;
margin-top:2px;
margin-left:550px;
background-image:url(loupe_recherche_db.png);
background-repeat:no-repeat;
}

#moteur-presentation-db a{
color:#9a0546 !important;  
text-decoration:none !important;
border-bottom:none !important;
}

#moteur-presentation-db a:hover{
color:#c64069 !important;
}

#intro-presentation-db{
width:500px;
border-right:1px solid #afa61d;
padding:5px;
margin-left:15px;
}

.btn-modifier {
float:right;
margin-top:15px;
margin-right:8px;
width:30px;
height:30px;
border:1px solid #dedede;
border-radius:8px;
box-shadow:3px 3px 6px rgba(50,50,50,0.6);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(241,241,241,0.95) 50%, rgba(225,225,225,0.95) 51%, rgba(246,246,246,0.95) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(50%,rgba(241,241,241,0.95)), color-stop(51%,rgba(225,225,225,0.95)), color-stop(100%,rgba(246,246,246,0.95))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2f6f6f6',GradientType=0 ); /* IE6-9 */
}

.btn-modifier a {
display:inline-block;
width:30px;
height:30px;
text-decoration:none;
background-image:url("btn_modifier.png");
background-position:center 4px;
background-repeat:no-repeat;
border-bottom:none !important;
}

.btn-modifier:hover {
box-shadow:1px 1px 1px rgba(50,50,50,0.6);
}

.btn-modifier a:hover {
background-image:url("btn_modifier.png");
background-position:center -34px;
}



/*** MOTEUR RECHERCHE ***/
.search-titre{
font-size:2em;
font-weight:bold;
color:#8c103e;
text-align:center;
}

.search-text-intro{
text-align:center;
font-size:1.2em;
color:#fff;
width:80%;
margin:auto;
padding-top:5px;
}

#zone-moteur-recherche{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:center bottom;
padding-top:10px;
text-align:center;
margin:auto;
}
#moteur-recherche{
width:713px;
margin:auto;
margin-top:60px;
border:0px solid #eee;
}

#moteur-recherche td{
text-align:center;
}

div#zone-moteur-recherche .search-legend-titre{
background-color:transparent;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:5px center;
padding-left:35px !important;
font-size:1.1em;
font-weight:bold;
font-variant:small-caps;
color:#00728a;
}

div#zone-moteur-recherche .search-zone{
background-color:rgba(240,240,240,0.3);
border:2px solid #00728a;
border-radius: 12px 12px 12px 12px;
text-align:center;
width:620px;
margin:auto;
margin-top:10px;
padding-bottom:5px;
box-shadow:3px 3px 8px rgba(50,50,50,0.5);
}

div#zone-moteur-recherche .search-ligne-bleue{
background-color:#00728a;
border:0 none;
height:1px;
margin:0.5em 0 1em;
}

div#zone-moteur-recherche .search-button{
margin-top:12px;
background-repeat:repeat-x;
height:25px;
color:#444;
}

div#zone-moteur-recherche .search-ou{
margin-top:2em;
font-size:2em;
font-weight:bold;
color:#555;
}

#titre-experience{
font-variant:small-caps;
font-size:1.3em;
font-weight:bold;
text-align:right;
padding-right:18px;
background-image:url(fnd_titre_experience.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:58px;
}

#titre-experience h2{
font-size:1.2em;
letter-spacing:0.5em;
text-align:center;
}

#titre-experience hr{
background-color:#fff;
border:0 none;
height:1px;
}    

#resume-experience{
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

#contexte-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#objectif-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#public-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#milieu-de-vie-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#demarche-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
padding-left:50px;
}

#moyen-experience{
margin-top:15px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#evaluation-experience{
margin-top:10px;
border-bottom:1px solid #98ac69;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#pour-aller-loin-experience{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#perspective-envisagee{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}









/**** DESCRIPTION EXPERIENCE ****/
#logo-projet-paratge{
}

#main-experience{
/*border:1px solid #f00;*/
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:right bottom;
}

#left-experience{
float:left;
width:450px;
padding:0px 5px;
color:#51686d;
}

#right-experience{
float:right;
width:200px;
color:#111;
font-size:0.9em;
margin-top:-70px;
border:1px solid #008B9D;
border-radius:12px;
padding:25px 0px 20px 0px;
}



/*** COLONNE GAUCHE DESCRIPTION EXPERIENCE ***/
#titre-experience{
/*margin-top:45px;*/
margin-bottom:20px;
height:73px;
width:580px;
background-color:#da951f;
border-radius:18px;
padding-top:10px;
}

#titre-experience h1{
float:left;
font-weight:bold;
font-size:1.8em;
color:#fff !important;
text-align:center;
width:600px;
margin:auto;
}

#resume-experience{
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

#contexte-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#objectif-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#public-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#milieu-de-vie-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#demarche-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
padding-left:50px;
}

#moyen-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#evaluation-experience{
margin-top:10px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#pour-aller-loin-experience{
margin-top:15px;
/*border-bottom:1px dotted #ddd;*/
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#perspective-envisagee{
margin-top:15px;
/*border-bottom:1px dotted #ddd;*/
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

.rouge-titre{
color:#90113d;
}

.orange-titre{
background: #DDD url('../clpsbw_images/puzzle_vert_2.png') repeat/repeat-x/repeat-y/no-repeat scroll/fixed top/center/bottom/x-%/x-pos left/center/right/y-%/y-pos;
color:#dd952b;
}

.left-rubrique-db{
font-weight:bold;
font-size:1.1em;
color:#51686d;
}


/*** COLONNE DROITE DESCRIPTION EXPERIENCE ***/
#right-experience-header{
width:216px;
height:90px;
background-image:url(des_exp_right_header.png);
background-repeat:no-repeat;
position:relative;
left:500px;
top:-50px;
}

#right-experience-content{
width:216px;
}

#right-experience-content p{
background-image:url(puce_carre_noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#right-experience-content a{
border-bottom:none !important;
color:#3c5057;
}

#right-experience-content a:hover{
text-decoration:underline;
color:#444 !important;
}


#right-experience-footer{
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

#institution-porteur-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#institution-partenaire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#periode-deroulement-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#territoire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#ressource-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#personne-contact-experience{
padding:0px 15px 0px 15px;
/*margin-bottom:8px;*/
}

#pdf-experience,
#pdf-institution,
#pdf-ressource{
padding:0px;
text-align:center;
}

.pdf-file{
display: block;
padding-left: 36px;
padding-top: 5px;}

#experience-etat{
background-color:#ffd6ff;
float: right;
margin-top:-25px;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.description-texte{
background-color:#efefef;
border:1px solid #dedede;
}

.description-for-manager{
border-top: 3px double #850864;
border-bottom: 3px double #850864;
border-left: 1px solid #850864;
border-right: 1px solid #850864;
background-color:#ffd6ff;
padding:1em;
}
.description-for-manager fieldset{
border: 1px solid #850864;
}
.description-for-manager legend{
background-color:transparent;
}

.div_question{
margin : 8px 0px;
}

.btn-links-table{
float:right;
margin-top:8px;
margin-right:26px;
}





/*** LISTING EXPERIENCE ***/ 

#listing-experience-main{
margin:auto;
margin-top:1em;
padding:1em;
}

#listing-titre{
width:100%;
height:90px;
background-color:#9bab5f;
background-image:url(bg_listing_titre.png);
background-repeat:no-repeat;
background-position:32px 37px;
text-align:center;
font-size:1.2em;
padding-top:25px;
}

#listing-titre h1{
color:#8d173e;
border-bottom:none;
}

.listing-experience{
margin:auto;
margin-top:4em;
border:1px solid rgba(58, 142, 162, 1.0000);
border-radius:18px;
box-shadow:3px 3px 8px rgba(50,50,50,0.5);

}

#listing-nbre-experience{
margin:0px;
color:#bc7600;
font-size:1.3em;
font-weight:bold;
text-align:center;
}

.listing-titre-experience{
background-color:rgba(250,250,250,0.3);
border-radius:18px 18px 0px 0px;
padding-left:20px;
}

.listing-titre-experience a{
display:inline-block;
height:30px;
width:500px;
color:#8b103e !important;
font-variant:small-caps;
font-size:1.2em;
font-weight:bold;
line-height:28px;
padding:0px 1em 0px 2em;
text-decoration:none;
border-bottom:none !important;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:left center;
}

.listing-texte-experience{
padding:1em;
}

#footer-listing{
height:46px;
margin-top: 1.2em;
}

.listing-experience-etat{
background-color:#ffd6ff;
float: left;
margin-top:15px;
margin-left:10px;
width:95px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.listing-experience-bouton{
float:right;
margin-top:10px;
margin-right:10px;
border-bottom:none !important;
}

.listing-experience-bouton a{
border-bottom:none !important;
}


