/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546 
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


STYLE TEMPLATE PLONE

**/

/*** CONTENT PLONE ***/

/*enleve le border dans les zone tiny*/
html body#content.mceContentBody{
border:none;
}


#content{
/*color:#555 !important;*/
color:#00728a !important;
border:1px solid #00728A;
border-radius:18px 18px 18px 18px;
clear:both;
font-size:80%;
line-height:1.5em;
margin:25px 0.25em 2em;
padding:10px 23px 20px 20px;
width:800px;
}

#content h1,
#content h2,
#content h3 {
margin-top: 0.5em;
color:#00728a !important;
}

#content div.documentByLine {
color: #666666;
display: block;
font-size: 85%;
margin-bottom: 10px;
}


/*** EDIT BARRE ***/
#edit-bar {
border: 0px solid #75AD0A;
font-size: 80%;
margin-bottom: 1em;
min-height: 2em;
padding-top: 0.05em;
width: 660px;
height:27px;
background: rgb(201,222,150); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
/* fond des onglet edit-bar*/
#content-views {
background-color:transparent;
float: left;
}
/* fond onglets second edit bar */
#contentActionMenus {
border-radius: 0 0.5em 0.5em 0.5em;
float: right;
margin: 0;
padding: 0.1em 0.24em 0 0;
position: relative;
right:0px;
top:0px;
background:#8AB66B;
height:25px;
}

#contentActionMenus dl.actionMenu a,
#contentActionMenus dl.actionMenu.activated dd {
background-color:transparent;
color: #FFFFFF;
z-index: 5;
background:#8AB66B;
}

div#edit-bar ul#content-views a:link{
color:#00FF00;
border-bottom:0px;
}

div#edit-bar ul#content-views a:hover{
color:rgba(0,80,0,1);
}


div#edit-bar ul#content-views li.selected a,
div#edit-bar ul#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#content-core li.formTab a.selected,
#content-core li.formTab a:hover {
background: none repeat scroll 0 0 rgba(250, 255, 250, 0.7);
border-top-left-radius: 0.5em;
border-top-right-radius: 0.5em;
color:rgba(0,80,0,1);
text-shadow:1px 1px 1px rgba(255,255,255,0.9);
}

.italic{
font-style:italic;
}

.gras{
font-weight:bold;
}

.mauve{
color:#9A0546;
}

.grasbrun{
font-weight:bold;
color:#b93f00;
}

.grasorange{
font-weight:bold;
color:#ff6f00;
}

.grasrouge{
font-weight:bold;
color:#ff0000;
}

.grasvert{
font-weight:bold;
color:#00aa00;
}

.vert-actif{
color:#00aa00;
font-size:0.8em;
}

.rouge-non-actif{
color:#ff0000;
font-size:0.8em;
}

.merci-text{
margin-top:2em;
font-size : 2em;
text-align:center;
}

.discreet{
font-size:0.6em;
color:#555;
}

#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;
margin-bottom:10px;
padding-left:10px;
}




/*** LIEN GESTION DES PORTLETS ***/
#portal-column-two div.managePortletsLink{
margin-top:35px;
}



/*** PRESENTATION BASE DE DONNEE ***/

#titre-presentation-db,
#zone-titre-moteur-recherche{
width:100%;
height:80px;
margin-top:15px;
border:2px solid #afa61d;
border-radius:12px;
background:#9a0546 url(puzzle_titre_db.png) no-repeat 35px 13px;
}

#titre-presentation-db h1,
#zone-titre-moteur-recherche h1{
width:450px;
margin:10px auto 0px auto;
color:#fff !important;
font-size:2em;
text-align:center;
letter-spacing:2px;
}

#moteur-presentation-db{
position:absolute;
top:148px;
padding:55px 0px 0px 8px;
font-size:1.6em;
margin-top:2px;
margin-left:550px;
background-image:url(loupe_recherche_db.png);
background-repeat:no-repeat;
}

#moteur-presentation-db a{
color:#9a0546 !important;  
text-decoration:none !important;
border-bottom:none !important;
}

#moteur-presentation-db a:hover{
color:#c64069 !important;
}

#intro-presentation-db{
width:500px;
border-right:1px solid #afa61d;
padding:5px;
margin-left:15px;
}


/*** MOTEUR RECHERCHE ***/
.search-titre{
font-size:2em;
font-weight:bold;
color:#8c103e;
text-align:center;
}

.search-text-intro{
text-align:center;
font-size:1.2em;
color:#fff;
width:80%;
margin:auto;
padding-top:5px;
}

.searchSection{
display:none;
}

#LSResult{
position:absolute;
right:-1px;
z-index:60;
margin-top:5px;
background-color:rgba(230,230,230,0.9);
border:1px solid #555;
border-radius:20px 0px 20px 20px;
}

#LSResult a:hover{
color:#9a0546 !important;
}


#zone-moteur-recherche{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:center bottom;
padding-top:10px;
text-align:center;
margin:auto;
}
#moteur-recherche{
width:713px;
margin:auto;
margin-top:60px;
border:0px solid #eee;
}

#moteur-recherche td{
text-align:center;
}

div#zone-moteur-recherche .search-legend-titre{
background-color:transparent;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:5px center;
padding-left:35px !important;
font-size:1.1em;
font-weight:bold;
font-variant:small-caps;
color:#00728a;
}

div#zone-moteur-recherche .search-zone{
background-color:rgba(240,240,240,0.3);
border:2px solid #00728a;
border-radius: 12px 12px 12px 12px;
text-align:center;
width:620px;
margin:auto;
margin-top:10px;
padding-bottom:5px;
box-shadow:3px 3px 8px rgba(50,50,50,0.5);
}

div#zone-moteur-recherche .search-ligne-bleue{
background-color:#00728a;
border:0 none;
height:1px;
margin:0.5em 0 1em;
}

div#zone-moteur-recherche .search-button{
margin-top:12px;
background-repeat:repeat-x;
height:25px;
color:#444;
}

div#zone-moteur-recherche .search-ou{
margin-top:2em;
font-size:2em;
font-weight:bold;
color:#555;
}






/**** DESCRIPTION EXPERIENCE ****/
#header-description{
height:50px;
}

#logo-projet-paratge{
float:left;
}

.btn-modifier-description {
float:right;
margin-right:40px;
}

.btn-modifier{
margin-top:15px;
margin-right:8px;
}

.btn-modifier,
.btn-modifier-description {
width:30px;
height:30px;
border:1px solid #dedede;
border-radius:8px;
box-shadow:3px 3px 6px rgba(50,50,50,0.6);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(241,241,241,0.95) 50%, rgba(225,225,225,0.95) 51%, rgba(246,246,246,0.95) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(50%,rgba(241,241,241,0.95)), color-stop(51%,rgba(225,225,225,0.95)), color-stop(100%,rgba(246,246,246,0.95))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2f6f6f6',GradientType=0 ); /* IE6-9 */
}

.btn-modifier a,
.btn-modifier-description a {
display:inline-block;
width:30px;
height:30px;
margin-top:0px;
text-decoration:none;
background-image:url("btn_modifier.png");
background-position:center 3px;
background-repeat:no-repeat;
border-bottom:none !important;
}

.btn-modifier:hover,
.btn-modifier-description:hover {
box-shadow:1px 1px 1px rgba(50,50,50,0.6);
}

.btn-modifier a:hover,
.btn-modifier-description a:hover {
background-position:center -34px;
}

td .btn-modifier{
margin:5px 0px;
}




#main-experience,
#main-ressource,
#main-institution{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:right bottom;
}

#experience-template,
#ressource-template,
#institution-template{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position: center bottom;
}

#left-experience,
#left-ressource,
#left-institution{
float:left;
width:560px;
padding:0px 5px;
color:#51686d;
}

#right-experience,
#right-ressource,
#right-institution{
float:right;
width:220px;
color:#111;
font-size:0.9em;
margin-top:-70px;
border:1px solid #008B9D;
border-radius:12px;
padding:25px 0px 20px 0px;
}

/*** COLONNE GAUCHE DESCRIPTION EXPERIENCE RESSOURCE INSTITUTION***/
#titre-experience,
#titre-ressource,
#titre-institution{
/*margin-top:45px;*/
margin-bottom:20px;
height:90px;
width:88%;
font-variant:small-caps;
font-size:1.3em;
font-weight:bold;
text-align:right;
padding-top:10px;
padding-right:10px;
padding-left:58px;
border-radius:18px;
border: 1px solid #9A0546;
}

#titre-experience{
background-color:#da951f;    
}

#titre-ressource{
background-color:#aca733;    
}

#titre-institution{
background-color:#00728a;
}

#titre-experience h1,
#titre-ressource h1,
#titre-institution h1{
font-weight:bold;
font-size:1.8em;
color:#fff !important;
text-align:center;
width:600px;
margin:auto;
}

#titre-experience h2,
#titre-ressource h2,
#titre-institution h2{
font-size:1.2em;
letter-spacing:0.5em;
text-align:center;
color:#003544 !important;
}

#titre-experience hr,
#titre-ressource hr,
#titre-institution hr{
margin:8px 0px 9px 0px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(240,240,240,0), rgba(240,240,240,0.75), rgba(240,240,240,0)); 
background-image: -moz-linear-gradient(left, rgba(240,240,240,0), rgba(240,240,240,0.75), rgba(240,240,240,0)); 
background-image: -ms-linear-gradient(left, rgba(240,240,240,0), rgba(240,240,240,0.75), rgba(240,240,240,0)); 
background-image: -o-linear-gradient(left, rgba(240,240,240,0), rgba(240,240,240,0.75), rgba(240,240,240,0));
}

#left-experience h3{
font-weight:bold;
font-size:1.3em;
color:#51686d;    
}

.left-section-description{
border-bottom:1px dotted #ddd;
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

.right-section-description{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#right-header-logo-projet-partage{
margin-bottom:8px;
border:1px solid #9a0546;
border-radius:4px;
height:30px;
background: rgb(255,188,53); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,188,53,1) 0%, rgba(223,155,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,188,53,1)), color-stop(100%,rgba(223,155,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc35', endColorstr='#df9b00',GradientType=0 ); /* IE6-9 */
text-align:center;
}

.puzzle-vert{
background-image:url(puzzle_vert.png);
}

.puzzle-jaune{
background-image:url(puzzle_jaune_2.png);
}

.puzzle-rouge{
background-image:url(puzzle_rouge.png);
}

.puzzle-gris{
background-image:url(puzzle_gris_vert.png);
}



.info-actuelle{
border:1px solid #ddd;
border-radius:5px;
padding:1em;
margin:4px 0px;
/*font-weight:bold;*/
font-size:1.2em;
color:#C6680F;  /*#ff6f00;*/
background-color:rgba(255,245,234,0.5);
}

.info-aide-maj{
position:relative;
left:300px;
border:1px dotted #20a3af;
border-radius:3px;
width:300px;
}




.rouge-titre{
color:#90113d;
}

.left-rubrique-db{
font-weight:bold;
font-size:1.1em;
color:#51686d;
}


/*** COLONNE DROITE DESCRIPTION EXPERIENCE RESSOURCE INSTITUTION***/
#right-experience-header,
#right-ressource-header,
#right-institution-header{
width:216px;
height:90px;
background-image:url(des_exp_right_header.png);
background-repeat:no-repeat;
position:relative;
left:645px;
top:-50px;
}

#right-content{
width:220px;
}

#right-content p{
background-image:url(puce_carre_noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#right-content a{
border-bottom:none !important;
color:#3c5057;
}

#right-content a:hover{
text-decoration:underline;
color:#444 !important;
}

#right-footer{
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

.hr-grise{
margin:8px 0px 9px 0px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(140,140,140,0), rgba(140,140,140,0.75), rgba(140,140,140,0)); 
background-image: -moz-linear-gradient(left, rgba(140,140,140,0), rgba(140,140,140,0.75), rgba(140,140,140,0)); 
background-image: -ms-linear-gradient(left, rgba(140,140,140,0), rgba(140,140,140,0.75), rgba(140,140,140,0)); 
background-image: -o-linear-gradient(left, rgba(140,140,140,0), rgba(140,140,140,0.75), rgba(140,140,140,0));
}


#projet-partage-institution,
#projet-partage-ressource{
margin-top:20px;
}

#projet-partage-institution a,
#projet-partage-ressource a{
color: #20A3AF !important;
}

#projet-partage-institution a:hover,
#projet-partage-ressource a:hover{
color: #000 !important;
}


#pdf-experience,
#pdf-institution,
#pdf-ressource{
padding-top:4px;
text-align:center;
border-top:1px dotted #ddd;
}

.pdf-file{
display: block;
padding-left: 36px;
padding-top: 5px;}

.description-texte{
background-color:#efefef;
border:1px solid #dedede;
}

.description-for-manager{
border:1px solid #850864;
background-color:#ffd6ff;
border-radius:18px;
padding:1em;
}
.description-for-manager fieldset{
border: 1px solid #850864;
}
.description-for-manager legend{
background-color:transparent;
}

.titre-for-manage{
font-size:2em;    
}

.div_question{
margin : 8px 0px;
}

.btn-links-table{
float:right;
margin-top:5px;
margin-right:26px;
}

div.description-listing h3{
display:block;
width:80%;
cursor:pointer;
margin-top:15px;
font-size:1.2em;
color:#666;
text-shadow:1px 1px 1px rgba(255,255,255, 1); 
padding-left:15px;
margin-bottom:4px;
background-image:url(label_flch_rouge.png);
background-repeat:no-repeat;
background-position:left 3px;
}

div.description-listing p{
padding-left:15px;
text-align:justify;
}

/*** menu gestion listing admin ***/
hr.ligne-top-menu-gestion-donnee{
margin:8px 0px 9px 0px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

div.zone-menu-gestion{
padding:4px 0px;
}

div.experience-etat{
margin-top:6px;
width:170px;
text-align:center;
font-size:0.8em;
color:#92007b;
border:1px solid #ccc;
border-radius:5px;
/*background-color:#ffd6ff;*/
background: -moz-linear-gradient(top,  rgba(252,236,252,0.7) 0%, rgba(251,166,225,0.7) 50%, rgba(253,137,215,0.7) 51%, rgba(255,124,216,0.7) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,236,252,0.7)), color-stop(50%,rgba(251,166,225,0.7)), color-stop(51%,rgba(253,137,215,0.7)), color-stop(100%,rgba(255,124,216,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,236,252,0.7) 0%,rgba(251,166,225,0.7) 50%,rgba(253,137,215,0.7) 51%,rgba(255,124,216,0.7) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,236,252,0.7) 0%,rgba(251,166,225,0.7) 50%,rgba(253,137,215,0.7) 51%,rgba(255,124,216,0.7) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,236,252,0.7) 0%,rgba(251,166,225,0.7) 50%,rgba(253,137,215,0.7) 51%,rgba(255,124,216,0.7) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,236,252,0.7) 0%,rgba(251,166,225,0.7) 50%,rgba(253,137,215,0.7) 51%,rgba(255,124,216,0.7) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3fcecfc', endColorstr='#b3ff7cd8',GradientType=0 ); /* IE6-9 */
}

ul#menu-gestion-donnee{
float:left;
}

ul#menu-gestion-donnee li{
display:inline;
font-size:0.9em;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:bold;
text-align:center;
text-shadow:0px 1px 0px rgba(255,255,255,0.5);
margin:0px 6px;
}

ul#menu-gestion-donnee li a:link{
color:rgb(80,80,80);
text-decoration: none;
padding:6px 12px;
border-radius:100px;
/*border:1px solid #ddd;*/
box-shadow:1px 1px 0px rgba(255,255,255,0.7);
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}

ul#menu-gestion-donnee li a:hover{
color:#000 !important;
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

/*** LISTING EXPERIENCE ***/ 

#listing-experience-main{
margin:auto;
margin-top:1em;
padding:1em;
}

#listing-titre{
width:100%;
height:90px;
background-color:#9bab5f;
background-image:url(bg_listing_titre.png);
background-repeat:no-repeat;
background-position:32px 37px;
text-align:center;
font-size:1.2em;
padding-top:25px;
}

#listing-titre h1{
color:#8d173e;
border-bottom:none;
}

.listing-experience{
margin:auto;
margin-top:4em;
border:1px solid rgba(58, 142, 162, 1.0000);
border-radius:18px;
box-shadow:3px 3px 8px rgba(50,50,50,0.5);
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

hr.ligne-listing-experience{
margin:8px 0px 9px 0px;
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, rgba(58,142,162,0), rgba(58,142,162,0.75), rgba(58,142,162,0)); 
background-image: -moz-linear-gradient(left, rgba(58,142,162,0), rgba(58,142,162,0.75), rgba(58,142,162,0)); 
background-image: -ms-linear-gradient(left, rgba(58,142,162,0), rgba(58,142,162,0.75), rgba(58,142,162,0)); 
background-image: -o-linear-gradient(left, rgba(58,142,162,0), rgba(58,142,162,0.75), rgba(58,142,162,0));
}

#listing-nbre-experience{
margin:0px;
color:#bc7600;
font-size:1.3em;
font-weight:bold;
text-align:center;
}

.listing-titre-experience{
background-color:rgba(250,250,250,0.3);
border-radius:18px 18px 0px 0px;
padding-left:20px;
}

.listing-titre-experience a{
display:inline-block;
height:30px;
width:500px;
color:#8b103e !important;
font-variant:small-caps;
font-size:1.4em;
font-weight:bold;
line-height:28px;
padding:0px 1em 0px 2em;
text-decoration:none;
border-bottom:none !important;
background-image:url(puzzle_rouge_24.png);
background-repeat:no-repeat;
background-position:left center;
}

.listing-texte-experience{
padding:1em;
}

#footer-listing{
width:700px;
height:46px;
margin:10px auto;
padding:8px 2em;
/*border-top:1px dotted #999;*/
}

#footer-listing a{
border-bottom:none !important;
}

.listing-experience-etat{
background-color:#ffd6ff;
float: left;
margin-top:15px;
margin-left:10px;
width:95px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.listing-experience-bouton{
float:right;
margin-top:10px;
margin-right:10px;
border-bottom:none !important;
}

.listing-experience-bouton a{
border-bottom:none !important;
}

#info-institution-assuetude{
background-color:#edfdf1;
border:1px solid #c1e6c9;
border-radius:18px;
margin:2em 0;
padding:1em;
}


/*** CADASTRE DES RESSOURCES ***/
#cadatsre-institution{
width:90%;
margin:auto;
}

.icone_ressource{
float:left;
width:120px;
height:160px;
margin:10px;
text-align:center;
font-weight:bold;
}

.organisme-fiche{
margin:auto;
border:1px solid #aaa;
border-radius:10px;
box-shadow:3px 3px 15px rgba(50, 50, 50, 0.5);
margin:15px auto;
padding:20px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.organisme-fiche h2{
border-bottom: 1px solid #20a3af;
color:#00728a !important;
font-size: 1.8em;
font-weight: normal;
letter-spacing: 1px;
margin-bottom: 5px;
text-align: right;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

article.organisme-fiche dl dt{
display:block;
width:80%;
cursor:pointer;
margin-top:15px;
font-size:1.2em;
color:#666;
text-shadow:1px 1px 1px rgba(255,255,255, 1); 
padding-left:15px;
margin-bottom:4px;
background-image:url(label_flch_rouge.png);
background-repeat:no-repeat;
background-position:left top;
}

article.organisme-fiche dl dd{
padding-left:2em;
}