/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


STYLE TEMPLATE PLONE

**/

#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;
margin-bottom:10px;
padding-left:10px;
}

/*** EDIT BARRE ***/
#edit-bar {
background-color: #75AD0A;
border: 0.25em solid #75AD0A;
font-size: 80%;
margin-bottom: 1em;
min-height: 2em;
padding-top: 0.05em;
width: 660px;
}



/*** LIEN GESTION DES PORTLETS ***/
#portal-column-two div.managePortletsLink{
display:none;
}



/*** PRESENTATION BASE DE DONNEE ***/
#experience-template{
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position: center bottom;
}

#titre-presentation-db,
#zone-titre-moteur-recherche{
width:650px;
height:80px;
margin-top:15px;
border:2px solid #afa61d;
border-radius:12px;
background:#9a0546 url(puzzle_titre_db.png) no-repeat 54px 18px;
}

#titre-presentation-db h1,
#zone-titre-moteur-recherche h1{
width:450px;
margin:10px auto 0px auto;
color:#fff !important;
font-size:2.5em;
border-bottom:1px solid #fff !important;
color:#fff;
text-align:center;
}

#moteur-presentation-db{
position:absolute;
top:148px;
padding:55px 0px 0px 8px;
font-size:1.6em;
margin-top:2px;
margin-left:550px;
background-image:url(loupe_recherche_db.png);
background-repeat:no-repeat;
}

#moteur-presentation-db a{
color:#9a0546 !important;  
text-decoration:none !important;
border-bottom:none !important;
}

#moteur-presentation-db a:hover{
color:#c64069 !important;
}

#intro-presentation-db{
width:500px;
border-right:1px solid #afa61d;
padding:5px;
margin-left:15px;
}


.btn-modifier {
float:right;
margin-top:15px;
margin-right:8px;
width:30px;
height:30px;
border:1px solid #dedede;
border-radius:8px;
box-shadow:3px 3px 6px rgba(50,50,50,0.6);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.95) 0%, rgba(241,241,241,0.95) 50%, rgba(225,225,225,0.95) 51%, rgba(246,246,246,0.95) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(50%,rgba(241,241,241,0.95)), color-stop(51%,rgba(225,225,225,0.95)), color-stop(100%,rgba(246,246,246,0.95))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.95) 0%,rgba(241,241,241,0.95) 50%,rgba(225,225,225,0.95) 51%,rgba(246,246,246,0.95) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#f2f6f6f6',GradientType=0 ); /* IE6-9 */
}

.btn-modifier a {
display:inline-block;
width:30px;
height:30px;
text-decoration:none;
background-image:url("btn_modifier.png");
background-position:center 4px;
background-repeat:no-repeat;
border-bottom:none !important;
}

.btn-modifier:hover {
box-shadow:1px 1px 1px rgba(50,50,50,0.6);
}


.btn-modifier a:hover {
background-image:url("btn_modifier.png");
background-position:center -34px;
}




/**** DESCRIPTION EXPERIENCE ****/
#logo-projet-paratge{
}

#main-experience{
/*border:1px solid #f00;*/
background-image:url(bg_experience.png);
background-repeat:no-repeat;
background-position:right bottom;
}

#left-experience{
float:left;
width:450px;
padding:0px 5px;
color:#51686d;
}

#right-experience{
float:right;
width:200px;
color:#111;
font-size:0.8em;
margin-top:-38px;
}



/*** COLONNE GAUCHE DESCRIPTION EXPERIENCE ***/
#titre-experience{
/*margin-top:45px;*/
margin-bottom:20px;
height:73px;
width:650px;
background-color:#008a9a;
border-radius:18px;
padding-top:10px;
}

#titre-experience h1{
float:left;
font-weight:bold;
font-size:1.8em;
color:#fff !important;
text-align:center;
width:600px;
margin:auto;
}

#resume-experience{
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

#contexte-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#objectif-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#public-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#milieu-de-vie-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#demarche-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_jaune_2.png);
background-repeat:no-repeat;
padding-left:50px;
}

#moyen-experience{
margin-top:15px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#evaluation-experience{
margin-top:10px;
border-bottom:1px dotted #ddd;
background-image:url(puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#pour-aller-loin-experience{
margin-top:15px;
/*border-bottom:1px dotted #ddd;*/
background-image:url(puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#perspective-envisagee{
margin-top:15px;
/*border-bottom:1px dotted #ddd;*/
background-image:url(puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}


.rouge-titre{
color:#90113d;
}

.orange-titre{
background: #DDD url('../clpsbw_images/puzzle_vert_2.png') repeat/repeat-x/repeat-y/no-repeat scroll/fixed top/center/bottom/x-%/x-pos left/center/right/y-%/y-pos;
color:#dd952b;
}

.left-rubrique-db{
font-weight:bold;
font-size:1.1em;
color:#51686d;
}


/*** COLONNE DROITE DESCRIPTION EXPERIENCE ***/
#right-experience-header{
width:216px;
height:90px;
background-image:url(des_exp_right_header.png);
background-repeat:no-repeat;
}

#right-experience-content{
width:216px;
background-image:url(des_exp_right_bckgrnd.png);
background-repeat:repeat-y;
}

#right-experience-content p{
background-image:url(puce_carre_noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#right-experience-content a{
text-decoration:none;
color:#3c5057;
}

#right-experience-content a:hover{
text-decoration:underline;
color:#15292f;
}


#right-experience-footer{
width:216px;
height:39px;
background-image:url(des_exp_right_footer.png);
background-repeat:no-repeat;
}

.right-rubrique-db{
background-image:url(flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

#institution-porteur-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#institution-partenaire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#periode-deroulement-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#territoire-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#ressource-experience{
padding:0px 15px 0px 15px;
margin-bottom:8px;
}

#personne-contact-experience{
padding:0px 15px 0px 15px;
/*margin-bottom:8px;*/
}

#pdf-experience,
#pdf-institution,
#pdf-ressource{
padding:0px;
text-align:center;
}

.pdf-file{
display: block;
padding-left: 36px;
padding-top: 5px;}

#experience-etat{
background-color:#ffd6ff;
float: right;
margin-top:-25px;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.description-texte{
background-color:#efefef;
border:1px solid #dedede;
}

.description-for-manager{
border-top: 3px double #850864;
border-bottom: 3px double #850864;
border-left: 1px solid #850864;
border-right: 1px solid #850864;
background-color:#ffd6ff;
padding:1em;
}
.description-for-manager fieldset{
border: 1px solid #850864;
}
.description-for-manager legend{
background-color:transparent;
}


.div_question{
margin : 8px 0px;
}

.btn-links-table{
float:right;
margin-top:8px;
margin-right:26px;
}
