/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


HOMEPAGE et NEWSLISTING

**/


#capsule-video{
border:1px solid rgba(50,50,50,0.5);
border-radius:8px;
box-shadow:5px 5px 10px rgba(50,50,50,0.5);
}

#projet-partage-banner{
width:342px;
height:169px;
text-align:center;
box-shadow:5px 5px 10px rgba(50,50,50,0.5);
background-color:#da8f18;
border:2px solid #981a4d;
border-radius:8px;
}

#projet-partage-banner a{
display:inline-block;
width:334px;
height:159px;
padding:10px 4px 0px 4px;
}

#projet-partage-banner a,
#projet-partage-banner a:link{
color:#000 !important;
font-size:1.3em;
border-bottom:none !important;
font-weight:bold;
}


/*** CONTENT PLONE ***/
article.clpsnews{
border:1px solid #666;
margin:25px 0px;
padding:8px;
border:1px solid #eee;
border-radius:12px;
box-shadow:3px 3px 9px rgba(80, 80, 80, 0.2);
background-color:#f9f9f9;
/*
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
*/

}

div.newsClpsBw-tagClpsBw{
width:60px;
z-index:10;
position:relative;
top:-85px;
left:-20px;
}

div.news-image{
min-width:60px;
min-height:60px;
margin:0px 8px 0px 8px;
}

div.clpsnews-icone{
float:left;
width:80px;
margin-right:8px;
}

div.clpsnews-content{
float:left;
width:520px;
}

div.clpsnews-content p{
padding:3px 5px 0px 9px;
}

.clpsnews-title{
color:#9a0546;
font-size:1.3em;
}

.clpsnews-date{
color:#20a3af;

}