/*                                              */
/* Stylesheet for the 'CLPSBW skin' Plone theme */
/*  by AFFINITIC  www.affinitic.be              */
/*                                              */

/*** BODY ***/

/** {
float: none !important;
}
*/


body{
font-size:80%;
font-family: verdana, arial, helvetica, sans-serif;
background-color:#fff;
margin-top:45px;
}


.hr-grise{
border-top:1px solid #cfd9d7;
}

.textdb{
color:#333;
font-size:8pt;
padding:0px 10px;
}

h2{
font-size:1em;
color:#00718b;
}

h3{
font-size:0.8em;
}

#wrapper{
border:4px solid #008a9c;
border-radius:25px;
margin:auto;
}

#wrapper table{
border-spacing:0;
-webkit-table-layout: fixed;
}

#main-clpsbw{
}

#main-experience{
margin: auto;
padding: 1em 2em;
}

#logo-puzzle-experience,
#logo-puzzle-institution,
#logo-puzzle-ressource{
width:80px;
height:99px;
margin-left:-57px;
margin-top:85px
}

#logo-puzzle-experience{
background-image:url(puzzle_rouge_pdf.png);
}

#logo-puzzle-institution{
background-image:url(puzzle_jaune_pdf.png);
}
#logo-puzzle-ressource{
background-image:url(puzzle_grisvert_pdf.png);
}


#institution-coordonnee,
#experience-coordonnee,
#ressource-coordonnee{
width:250px;
margin:2em auto;
border-left:4px solid #008a9c;
border-radius:25px;
padding:0px 3px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
vertical-align:top;
-webkit-word-wrap:break-word;
-webkit-overflow-wrap:break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hyphens: auto;
-o-hyphens: auto;
hyphens: auto;
}

#institution-coordonnee{
background-color:#66b6c0;
}

#experience-coordonnee{
background-color:#e4ae4d;
}

#ressource-coordonnee{
background-color:#bfb64c;
}



/*** BARRE DES ONGLETS ***/
.visualClear {
clear:both;
display:block;
}

/*** COLONNES ***/
#block-clpsbw{
}

/*** FOOTER ***/
#clpsbw-footer{
font-size:8pt;
width:80%;
margin-left:auto;
margin-right:auto;
background-color:#eee;
padding:10px 30px 0px 30px;
}

#clpsbw-footer a{
color:#666;
text-decoration:none;
}

#clpsbw-footer a:hover{
color:#fff;
}


#clpsbw-copyright{
color:#444;
font-size:1.1em;
text-align:center;
margin-bottom:5px;
}

#clpsbw-disclaimer{
color:#888;
font-size:0.9em;
text-align:center;
margin-bottom:8px;
padding-bottom:3px;
}

#marque{
margin-bottom:5px;
}


/*** BLOC SUPERIEUR ***/
#main-experience{
background-image:url(images/bg_experience.png);
background-repeat:no-repeat;
background-position:right bottom;
}


.left-rubrique-institution,
.left-rubrique-experience,
.left-rubrique-ressource{
font-weight:bold;
font-size:1.2em;
}
.left-rubrique-institution{
color:#b1a500;
}

.left-rubrique-experience{
color:#008a9a;
}

.left-rubrique-ressource{
color:#9a0546;
}



/** BLOC INFERIEUR **/
#info-complementaire-experience,
#info-complementaire-institution{
page-break-before: always;
color:#111;
font-size:0.8em;
margin:auto;
margin-top:30px;
width:510px;
}

#info-complementaire-header{
height:88px;
background-image:url(images/des_exp_right_header.png);
background-repeat:no-repeat;
}

#info-complementaire-content{
background-image:url(images/des_exp_right_bckgrnd.png);
background-repeat:repeat-y;
}

#info-complementaire-content p{
background-image:url(images/puce-carre-noir.png);
background-repeat:no-repeat;
background-position:left 5px;
text-indent: 6px;
}

#info-complementaire-content a{
text-decoration:none;
color:#3c5057;
}

#info-complementaire-content a:hover{
text-decoration:underline;
color:#15292f;
}


#info-complementaire-footer{
height:39px;
background-image:url(images/des_exp_right_footer.png);
background-repeat:no-repeat;
}

.info-complementaire-db{
background-image:url(images/flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}

#institution-porteur-experience,
#institution-partenaire-experience,
#periode-deroulement-experience,
#territoire-experience,
#ressource-experience{
padding:0px 3px 0px 3px;
margin-bottom:8px;
}

.clearboth{
clear:both;
}

#experience-etat{
background-color:#ffd6ff;
margin-top:-25px;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

.description-texte{
background-color:#efefef;
border:1px solid #dedede;
}

.description-for-manager{
border-top: 3px double #850864;
border-bottom: 3px double #850864;
border-left: 1px solid #850864;
border-right: 1px solid #850864;
background-color:#ffd6ff;
padding:1em;
}

.description-for-manager fieldset{
border: 1px solid #850864;
}

.description-for-manager legend{
background-color:transparent;
}

.div_question{
margin : 8px 0px;
}

.btn-links-table{
/*float:right;*/
  margin-top:8px;
margin-right:26px;
}


/*** DESCRIPTION INSTITUTION ***/
#left-institution{
/*float:left;*/
width:510px;
padding:0px 5px;
color:#51686d;
}

#right-institution{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:-20px;
}

#alerte{
background-color:#fd7b00;
width:90%;
height:30px;
line-height:30px;
font-size:0.8em;
font-weight:bold;
color:#fff;
margin:auto;
margin-bottom:10px;
padding-left:10px;
}

#titre-principal{
margin:auto;
font-weight:bold;
font-size:1.5em;
text-align:center;
height:71px;
width:100%;
/*line-height:73px;*/
text-align:center;
/*background-color:#003088;*/
border-bottom:2px solid #b1a500;
color:#00718b;
}

#title-ressource{
margin-bottom:20px;
font-weight:bold;
font-size:1.6em;
text-align:center;
height:73px;
width:100%;
text-align:center;
background-color:#548962;
}

.titre-ressource-top{ 
float:left;
color:#fff;
width:90%;
margin-top:10px;
}

.puzzle-rouge{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(images/puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

.puzzle-jaune{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(images/puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}

.puzzle-vert{
margin-top:15px;
/*border-bottom:1px solid #98ac69;*/
background-image:url(images/puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
padding-bottom:10px;
min-height:55px;
}


#projet-partage-institution,
#projet-partage-ressource{
/*width:70%;*/
padding:1em;
}

#projet-partage-institution h3,
#projet-partage-ressource h3{
border-bottom: 1px dotted #8C103E;
color: #8C103E;
padding-bottom: 5px;}

#projet-partage-institution h4,
#projet-partage-ressource h4{
color:#000;
background-image:url(images/flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:12px;
}


#projet-partage-institution a,
#projet-partage-ressource a{
color:#333;
text-decoration:none;
border-bottom:none;
}

#projet-partage-institution a:hover,
#projet-partage-ressource a:hover{
color:#111;
text-decoration:underline;
}

.rubrique{
margin-top:15px;
padding-left:5px;
padding-bottom:10px;
min-height:55px;
}

.text-coordonnee-db{
color:#38383d;
font-weight:bold;
padding-left:0px;
margin-bottom:8px;
font-size:8pt;
}
.text-coordonnee-db ul{
margin-left:-15px;
/*padding-left:0px;*/
}

.text-rubrique-db{
color:#495d63;
padding-left:2em;
text-align:justify;
}

.text-thematique{
color:#00718b;
padding-left:2em;
}

.bull-coordonnee{
color:#8b153f;
}



#institution-description-assuetude{
width:600px;
margin:2em auto;
background-color:#f3fefb;
border:2px solid #005492;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-o-border-radius: 12px 12px 12px 12px;
background-color:#f3fefb;
padding:1em; 
-moz-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-o-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
-ms-box-shadow:4px 4px 10px rgba(0,0,0,0.5);
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
}

.titre-description-assuetude{
padding-right:2em;
border-bottom:1px solid #cfd9d7;
}

#institution-coordonnee h2{
color:#fff;
text-transform:uppercase;
}

#institution-description h4,
#institution-coordonnee h4{
background-image:url(images/flch_bleue.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:12px;
color:#51686d;
font-size:9pt;
}

#institution-etat{
margin-top:11px;
margin-left:332px;
background-color:#ffd6ff;
width:170px;
text-align:center;
font-size:0.8em;
color:#dc00be;
}

#info-institution-assuetude{
background-color:#f3fefb;
}

#info-institution-assuetude legend{
background-color:transparent;
}

.precision{
margin-top:5px;;
margin-left:55px;
padding-left:5px;
width:75%;
border-left:1px dotted #555;
color:#888;
}

.info-institution-assuetude-odd{
background-color:#e8f3f0;
}

.info-institution-assuetude-even{
background-color:#dbe5e3;
}


.organisme-fiche{
background-color:rgba(212,245,255,0.3);
border:1px solid #ddd;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
-o-border-radius: 12px 12px 0px 0px;
-ms-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
margin:20px 5px;
max-width:530px;
}

.organisme-titre{
background: rgb(0,48,136);
background: -moz-linear-gradient(top, rgba(0,48,136,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,48,136,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -ms-linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003088', endColorstr='#7db9e8',GradientType=0 );
background: linear-gradient(top, rgba(0,48,136,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);height:35px;
margin-top:0px;
margin-left:0px;
max-width:530px;
height:50px;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
-o-border-radius: 12px 12px 0px 0px;
-ms-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
}

.organisme-titre a{
display:block;
padding:10px 0px 0px 25px;
color:#00ffff;
font-size:1.2em;
font-weight:bold;
text-decoration:none;
}

.organisme-titre a:hover{
color:#ffaf00;
}

.organisme-fiche dl{
margin-left:2em;
margin-right:2em;
}

#logo-projet-partage{
width:450px;
height:117px;
margin-top:-30px;
margin-left:10px;
}

img#image-ressource{
display:block;
margin:auto;
box-shadow:3px 3px 6px rgba(50,50,50,0.5);
margin-bottom:20px;
}

#titre-experience{
width:98%;
border-bottom:2px solid #aaa;
margin-top:-80px;
padding-right:15px;
font-variant:small-caps;
font-size:2em;
font-weight:bold;
text-align:right;
}

#resume-experience{
background-image:url(images/puzzle_vert.png);
background-repeat:no-repeat;
background-position:left 18px;
padding-left:50px;
margin-top:-12px;
padding-top:18px;
}

#contexte-experience{
margin-top:15px;
background-image:url(images/puzzle_jaune_2.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#objectif-experience{
margin-top:15px;
background-image:url(images/puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#public-experience{
margin-top:15px;
background-image:url(images/puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#milieu-de-vie-experience{
margin-top:15px;
background-image:url(images/puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#demarche-experience{
margin-top:15px;
background-image:url(images/puzzle_jaune_2.png);
background-repeat:no-repeat;
padding-left:50px;
}

#moyen-experience{
margin-top:15px;
background-image:url(images/puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#evaluation-experience{
margin-top:10px;
background-image:url(images/puzzle_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#pour-aller-loin-experience{
margin-top:15px;
background-image:url(images/puzzle_gris_vert.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}

#perspective-envisagee{
margin-top:15px;
background-image:url(images/puzzle_rouge.png);
background-repeat:no-repeat;
background-position:left top;
padding-left:50px;
}




/** COLONNE DROITE DESCRIPTION RESSOURCE **/ 
#left-ressource{
float:left;
width:525px;
padding:0px 5px;
color:#51686d;
}

#right-ressource{
float:right;
width:205px;
color:#111;
font-size:0.8em;
margin-top:-35px;
}

#right-ressource-header{
width:216px;
height:92px;
background-image:url(images/des_ressource_right_header.png);
background-repeat:no-repeat;
}

#right-ressource-content{
width:192px;
padding:10px 12px;
background-image:url(images/des_ressource_right_bckgrnd.png);
background-repeat:repeat-y;
}

#right-ressource-content div{
margin:15px 0px;
}

#right-ressource-content a{
text-decoration:none;
color:#3c5057;
}

#right-ressource-content a:hover{
text-decoration:underline;
color:#15292f;
}


#right-ressource-footer{
width:216px;
height:39px;
background-image:url(images/des_ressource_right_footer.png);
background-repeat:no-repeat;
}

.right-rubrique-db{
background-image:url(images/flch_blanche.png);
background-repeat:no-repeat;
background-position:left center;
color:#660033;
padding-left:12px;
font-weight:bold;
}


