/**
CLPS-BW 2.0
AFFINITIC - AOUT 2013

mauve #9a0546
bleu-titre #00728a
bleu-border #20a3af
vert background #afa61d


STYLE PORTLET

**/

/****************************** PORTLET COLONNE GAUCHE **********************/
div.portlet-left-column{
position:relative;
left:10px;
width:200px;
margin-bottom:15px;
line-height:normal;
}


/*** PORTLET NAV ***/
div.portlet-left-column dl.portletNavigationTree dt.portletHeaderNav{
margin-bottom:8px;
border:1px solid #9a0546;
border-radius:4px;
/*background-color:#AFA61D;*/
background: rgb(207,219,162); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(207,219,162,1) 0%, rgba(170,167,123,1) 44%, rgba(175,166,29,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,219,162,1)), color-stop(44%,rgba(170,167,123,1)), color-stop(100%,rgba(175,166,29,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdba2', endColorstr='#afa61d',GradientType=0 ); /* IE6-9 */
}

div.portlet-left-column dl.portletNavigationTree dt.portletHeaderNav a{
border-bottom:none !important;
color:rgba(0, 84, 106, 1.0000) !important;
text-shadow:1px 1px 1px rgba(200,200,200,0.9);
font-size:1.3em;
font-variant:small-caps;
font-weight:bold;
padding-left:10px;
line-height:20px;

}

div.portlet-left-column dl.portletNavigationTree dd.portletItemNav li{
border: 1px solid #00728A !important;
border-radius: 6px 6px 6px 6px;
margin: 8px 0;
padding-left: 10px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
transition:background 0.5s;
}

div.portlet-left-column dl.portletNavigationTree dd.portletItemNav li a{
display:inline-block;
width:88%;
color:#20a3af !important;
font-weight:normal;
font-size:1em;
border-bottom:none !important;
padding-left:20px;
transition:color 0.3s;
border-radius:5px;
}

div.portlet-left-column dl.portletNavigationTree dd.portletItemNav li:hover{
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
transition:background 0.5s;
}

div.portlet-left-column dl.portletNavigationTree dd.portletItemNav li a:hover{
color:#00535e !important;
transition:background 0.5s;
}

div.portlet-left-column dl.portlet ul.navTree .navTreeCurrentItem {
background-color:transparent;
border-left:0em solid #9A0546;
margin-left:0;
margin-right:0;
color:#9A0546 !important;
}


/*** PORTLET EN GENERAL ***/
div.portlet-left-column dt.portletHeaderDB{
margin-bottom:-1px;
border:1px solid #9a0546;
border-radius:4px;
background: rgb(207,219,162); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(207,219,162,1) 0%, rgba(170,167,123,1) 44%, rgba(175,166,29,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,219,162,1)), color-stop(44%,rgba(170,167,123,1)), color-stop(100%,rgba(175,166,29,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(207,219,162,1) 0%,rgba(170,167,123,1) 44%,rgba(175,166,29,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfdba2', endColorstr='#afa61d',GradientType=0 ); /* IE6-9 */
color:rgba(0, 84, 106, 1.0000);
text-shadow:1px 1px 1px rgba(200,200,200,0.9);
font-size:1em;
}

div.portlet-left-column dt.portletItem{
min-height:30px;
line-height:1.2em;
background-color:#fff;
border:1px solid #00728a;
border-radius:6px;
margin:4px 0px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
transition:background 0.5s;
}

div.portlet-left-column dt a{
display:inline-block;
width:178px;
color:#20a3af !important;
font-weight:normal;
font-size:0.8em;
border-bottom:none !important;
transition:color 0.3s;
}

div.portlet-left-column dt.portletItem:hover{
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
transition:background 0.5s;
}

div.portlet-left-column dt.portletItem a:hover{
color:#00535e !important;
transition:color 0.3s;
}




/*** PORTLET PROJETS PARTAGES DANS LES PLATES-FORMES ***/
div.portlet-left-column dl#portlet-projet-partage,
div.portlet-left-column dl#portlet-experience-sante-commune,
div.portlet-left-column dl#portlet-experience-sante-ecole,
div.portlet-left-column dl#portlet-experience-sante-environnement,
div.portlet-left-column dl#portlet-experience-sante-famille,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle,
div.portlet-left-column dl#portlet-experience-assuetude{
background-color:#fff;
/*border:1px solid #00728a;
border-radius:6px;*/
margin:4px 0px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
transition:background 0.5s;
}

div.portlet-left-column dl#portlet-projet-partage dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-sante-commune dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-sante-ecole dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-sante-environnement dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-sante-famille dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle dt.portletHeaderDB,
div.portlet-left-column dl#portlet-experience-assuetude dt.portletHeaderDB{
height:30px;
background: rgb(255,188,53); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,188,53,1) 0%, rgba(223,155,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,188,53,1)), color-stop(100%,rgba(223,155,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,188,53,1) 0%,rgba(223,155,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc35', endColorstr='#df9b00',GradientType=0 ); /* IE6-9 */
text-align:center;
/*
background-image:url(projet_partage_header_portlet.png);
background-repeat:no-repeat;
background-position:center;
*/
}

div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP,
div.portlet-left-column dl#portlet-experience-sante-commune dt.portletItemPP, 
div.portlet-left-column dl#portlet-experience-sante-ecole dt.portletItemPP,
div.portlet-left-column dl#portlet-experience-sante-environnement dt.portletItemPP,
div.portlet-left-column dl#portlet-experience-sante-famille dt.portletItemPP,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle dt.portletItemPP,
div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP{
padding:8px 3px 8px 20px;
text-align:left;
border-left:1px solid #00728a;
border-right:1px solid #00728a;
}

div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP a,
div.portlet-left-column dl#portlet-experience-sante-commune dt.portletItemPP a, 
div.portlet-left-column dl#portlet-experience-sante-ecole dt.portletItemPP a,
div.portlet-left-column dl#portlet-experience-sante-environnement dt.portletItemPP a,
div.portlet-left-column dl#portlet-experience-sante-famille dt.portletItemPP a,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle dt.portletItemPP a,
div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP a{
color:#20a3af !important;
}

div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP a:hover,
div.portlet-left-column dl#portlet-experience-sante-commune dt.portletItemPP a:hover, 
div.portlet-left-column dl#portlet-experience-sante-ecole dt.portletItemPP a:hover,
div.portlet-left-column dl#portlet-experience-sante-environnement dt.portletItemPP a:hover,
div.portlet-left-column dl#portlet-experience-sante-famille dt.portletItemPP a:hover,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle dt.portletItemPP a:hover,
div.portlet-left-column dl#portlet-experience-assuetude dt.portletItemPP a:hover{
color:#333 !important;
}


div.portlet-left-column dl#portlet-experience-assuetude dt.portletFooterDB,
div.portlet-left-column dl#portlet-experience-sante-commune dt.portletFooterDB, 
div.portlet-left-column dl#portlet-experience-sante-ecole dt.portletFooterDB,
div.portlet-left-column dl#portlet-experience-sante-environnement dt.portletFooterDB,
div.portlet-left-column dl#portlet-experience-sante-famille dt.portletFooterDB,
div.portlet-left-column dl#portlet-experience-vie-affective-sexuelle dt.portletFooterDB,
div.portlet-left-column dl#portlet-experience-assuetude dt.portletFooterDB{
line-height:30px;
text-align:right;
border-left:1px solid #00728a;
border-right:1px solid #00728a;
border-bottom:1px solid #00728a;
border-radius:0px 0px 8px 8px;
}

div.portlet-left-column dl#portlet-offre-service dt.portletItem,
div.portlet-left-column dl#portlet-plate-forme dt.portletItem,
div.portlet-left-column dl#portlet-projet-partage dt.portletItem{
padding-left:20px;
text-align:left;
line-height:30px;
}





























#portlet-db,
#portlet-db-auteur,
#portlet-gestion-db{
border-radius:10px 0px 0px 10px;
width:200px;
min-height:100px;
margin:2em 10px;
}

.portletHeaderDB{
border-radius:10px 0px 0px 0px;
line-height:30px;
color:#fff;
font-variant:small-caps;
font-size:1.1em;
font-weight:bold;
padding-left:15px;
border-bottom:1px solid #e9953a;
}


/*** PORLET DB AUTEUR ***/
#portlet-db-auteur .portletHeaderDB{
background-color:#ff76f0;
border:1px solid #8e0045;   
}

#portlet-db-auteur .portletItemDB{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffe4f8;
}

#portlet-db-auteur .portletFooterDB{
background-color:#dcbcd2;
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
height:15px;
}

#portlet-db-auteur .portletTitreDb{
color:#8e0045;
text-shadow:1px 1px 1px rgba(255,255,255, 0.5);
}

#portlet-db-auteur .portletItemDB{
padding:2px 0px 0px 20px;
}

#portlet-db-auteur a:link, 
#portlet-db-auteur dl.portlet a:link{
border-bottom:none;
color:#205C90;
}

#portlet-db-auteur a:hover, 
#portlet-db-auteur dl.portlet a:hover{
color:#aa0059 !important;
}

#portlet-db-auteur p{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffefdd;
}




/*** PORTLET GESTION DB ***/
#portlet-gestion-db a:link, 
#portlet-gestion-db dl.portlet a:link{
border-bottom:none;
color:#205C90;
}

#portlet-gestion-db a:hover, 
#portlet-gestion-db dl.portlet a:hover{
color:#aa0059 !important;
}

#portlet-gestion-db .portletHeaderDB{
background-color:#faa448;
border:1px solid #e9953a;
}

#portlet-gestion-db .portletItemDB{
border-left:1px solid #ccc;
border-right:1px solid #ccc;
background-color:#ffefdd;
padding:2px 0px 0px 0px;
}

#portlet-gestion-db .portletTitreDb{
color:#903a00;
font-size:0.9em;
text-shadow:1px 1px 1px rgba(255,255,255, 0.5);
}

#portlet-gestion-db .rubriqueDB{
background:-moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,205,156,0.5) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(241,205,156,0.5)));
background:-webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background:-o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background:-ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
background:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,205,156,0.5) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#80f1cd9c',GradientType=0 );
width:90%;
box-shadow:-1px -1px 1px rgba(139,29,0, 0.3),
            1px 1px 1px rgba(255, 255, 255, 0.3);
border-radius:12px;
padding:5px;
margin:auto;
margin-top:8px;
}

#portlet-gestion-db .totalDB{
height:20px;
background-image:url(images/puce_total.png);
background-repeat:no-repeat;
background-position:left 0px;
padding-left:17px;
margin-top:5px;
margin-left:25px;
}

#portlet-gestion-db .portletFooterDB{
border-radius:0px 0px 0px 10px;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
background-color:#f0e2cf;
height:15px;
}
















/****************************** PORTLET COLONNE DROITE ***********************/
/*** AGENDA ***/
dl.portlet-collection-agenda,
dl.portletCalendar{
position:relative;
right:20px;
top:8px;
min-height:200px;
width:150px;
background-color:#fff;
border-radius:20px 20px;
border:solid 2px #008b9d;
box-shadow:5px 5px 5px #888;    
}

dl.portlet-collection-agenda dt.portletHeader,
dl.portletCalendar dt.portletHeader{
background-color:#9a0546 !important;
border-radius:18px 18px 0px 0px;
border-bottom:none;
text-align:center;
padding-left:0px;
}


dl.portlet dt.portletHeader a,
dl.portletCalendar dt.portletHeader{
border-bottom: 0px !important;
color:#fff !important;
}


dl#portlet-agenda .portletPresentationDB,
dl.portlet-collection-agenda .portletItem{
font-size:0.8em;
margin:8px 0px;
padding:0px 3px 3px 3px;
line-height:normal;
font-weight:normal;
border-bottom:1px dotted rgba(200,200,200,0.5);
}

dl.portlet-collection-agenda .portletItem a,
dd.portletFooter a{
color:#9a0546 !important;
border-bottom:0px !important;
}    

dl.portlet-collection-agenda .portletItem a:hover,
dd.portletFooter a:hover{
color:#205C90 !important;
}

